@tailwind base;
@tailwind components;
@tailwind utilities;
.section-1 {
    background-image: url('https://3.bp.blogspot.com/-8NVvfKkC5sI/V1NAYxSipQI/AAAAAAAAB1E/eZvhoOQa-lEGzTP8ELgxbXQv9bJBsdsowCLcB/s1600/The-Angry-Birds-Movie-2016-Wallpaper-HD-1920x1200-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}
body {
    @apply bg-indigo-950;
    @apply overflow-x-hidden;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(
            50% 50%,
            0 0,
            100% 0,
            100% 100%,
            100% 100%,
            100% 100%
        );
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
